html, body, .container-fluid, .row, div[class^="col-"]{
 	height:100%;
}

#chartdiv {
	height: 50%;
}

.knob-group {
	height: 50%;
	text-align: center;
}

.knob-group .slider.slider-horizontal{
	width: 75%;
}

.knob-group .headline{
	font-size: 115%;
}

.knob-group .weight-range-texts {
	font-size: 80%;
	padding-top: 5px;
}

.knob-group .btn-primary.active {
	background-color: #252f38;
}

.knob-group .btn-primary.active:hover, .knob-group .btn-primary.active.focus  {
	background-color: #252f38;
	cursor: default;
}

.knob-group h6 {
	margin-bottom: 5px;
}